#main{
     margin-left: 100px;
    margin-right: auto;
    width: 1000px;
}

.col{
    width: 170px; 
    text-align: center;
}

.lec{
    font-style: italic;
}

.break{
 background-color: #E3F6CE;   
}

.end{
    width: 180px; 
    text-align: center;
    background-color: #F5F6CE;
}

.title{
 font-weight: bold;
}

table, th, td{
    border: 1px solid gray;
    border-spacing: 0;
    padding: 8  ; 
}

body{
    font-family: Georgia ;
}

p{
    text-align: justify;
    
}

h1, h2{
 color: #21610B;   
}
#sponsor{
     margin-left: 30%;
}

.logo{
  width: 30%;   
}