#main{

     margin-left: 100px;
    margin-right: 120px;

}

.col{
    width: 170px; 
    text-align: center;

}

.lec{
    font-style: italic;
}

.break{
 background-color: #E3F6CE;   
}

.end{
    width: 180px; 
    text-align: center;
    background-color: #F5F6CE;
}

.title{
    font-weight: bold;
}

.banner{
    width: 100%;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#in{
    float: left;
}

a.menuA:link, a.menuA:visited {
    display: block;
    width: 200px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #66C021;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a.menuA:hover, a.menuA:active {
    background-color: #259A1A;
}

table, th, td{
    border: 1px solid gray;
    border-spacing: 0;
    padding: 8  ; 
}

body{
    font-family: Georgia ;
}

p{
    margin-top: 0.5em;
    margin-bottom: 0px;
}

h1, h2{
 color: #21610B;   
}

h2 {
    margin-top: 2em;
}

#sponsor{
     margin-left: 20%;
}

.logo{
  height: 40px;   
}

#logoSassy{
      height: 70px;  
}

li{
 text-align: justify;  
}

.header{
    text-align: center;
}

.attention{
 color: red;
 text-align: justify; 
}

.courses li {
    margin-top: 1em;
}

ol.small-list {
    list-style-type: lower-alpha;
    margin-top: 5px;
    margin-bottom: 20px;
}

ol.small-list li {
    margin-top: 0px;
}

.topic-section {
    font-weight: bolder;
}

